@font-face {
  /*probando tipografias*/
  font-family: FiraSans-ExtraLight;
  src: url(../css/FiraSans-ExtraLight.ttf); }

* {
  font-family: FiraSans-ExtraLight; }

/*index*/
.carousel-caption {
  bottom: 3rem;
  z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem; }

.contenedor__Imagen {
  width: 100%; }

.contenedor__cajaFondo {
  /* centrar texto de la imgen*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-shadow: black 2px 10px 10px;
  font-size: 2rem; }

.contenedor__Imagen--Celular {
  background-image: url("../img/celular-min.jpg");
  background-size: cover;
  border-radius: 1em; }

.contenedor__Imagen--Bolsa {
  background-image: url("../img/hombrenaranja-min.jpg");
  background-size: cover;
  border-radius: 1em; }

.contenedor__Imagen--Contacto {
  background-image: url("../img/contactanos-min.jpg");
  background-size: cover;
  border-radius: 1em; }

.contenedor__cabecera {
  color: #f2f2f2;
  height: 250px; }

.contenedor__cabecera2 {
  color: #070000;
  height: 250px; }

.espacio {
  margin-bottom: 10px; }

.espacioa {
  margin-top: 2rem; }

/*index*/
/*categorias*/
.contenedor__juguetes--fondo {
  width: 100%;
  height: 100px;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); }

.contenedor__deportes--fondo {
  width: 100%;
  height: 100px;
  background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); }

.contenedor__ropa--fondo {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); }

/*tecno*/
.cartelerat {
  background: linear-gradient(to top, #203647 16%, #4da8da 89%); }

.cartelera__productost {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.cartelera__productost--tamanos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.productCartelera {
  border-radius: 1rem; }

.productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.productos__item {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #f2f2f2;
  width: 200px;
  border-radius: 1rem; }

.productos__item--img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.productos__item--texto {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 1.5rem;
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 0.8rem; }

.productos__item:hover > .productos__item--img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* contactanos*/
.buscardudas {
  height: 500px; }

.titulocontacto {
  padding-top: 10px; }

.contactoBody {
  background-image: url("../img/contacto-min.jpg");
  background-size: cover; }

.navcolor {
  background-color: #12232E; }

.body {
  background-color: #EEFBFB;
  padding-bottom: 10px; }

.footer {
  padding-top: 10px;
  background-color: #12232E;
  color: #fafafa; }

.footer__lista {
  list-style: none;
  margin: 0;
  padding: 0; }

nav a h1 {
  color: #fafafa; }

nav a h5 {
  margin-top: 27px;
  color: #fafafa; }

.patrocina {
  width: 100%;
  padding-bottom: 10px;
  background-color: #203647; }
  .patrocina h2 {
    color: #fafafa; }

.logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.logos-patros img {
  height: 350px; }

h3 {
  color: #fafafa; }

.carteleraLogos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.carteleraLogos--items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 400px; }

.carteleraLogos--img {
  height: 300px; }
  .carteleraLogos--img img {
    height: 300px;
    width: 500px; }

.descripcionMejores {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.carteleraMejores--texto {
  background-color: #203647; }
  .carteleraMejores--texto h2 {
    color: #fafafa; }

.carteleraMejores {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #203647; }

.carteleraCelusMejores--items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 400px; }

.carteleraCelusMejores--texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.carteleraMejores--img {
  height: 300px; }
  .carteleraMejores--img img {
    height: 200px;
    width: 300px; }

.descripcionCartelera {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.descripcionCartelera--texto {
  background-color: #007CC7; }
  .descripcionCartelera--texto h2 {
    color: #fafafa; }

.carteleraCelus {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #007CC7; }

.carteleraCelus--items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 400px; }

.carteleraCelus--texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.carteleraCelus--img {
  height: 300px; }
  .carteleraCelus--img img {
    height: 300px;
    width: 300px; }

.carteleraCelus--items:hover > .carteleraCelus--img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
