@import "tipografia";

/*index*/
.contenedor__Imagen{
    width: 100%;
}

.contenedor__cajaFondo{ /* centrar texto de la imgen*/
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    text-shadow: rgb(0, 0, 0) 2px 10px 10px;
    font-size: 2rem;
}
.contenedor__Imagen--Celular{
    background-image: url("../img/celular-min.jpg");
    background-size: cover;
    border-radius: 1em;
}
.contenedor__Imagen--Bolsa{
    background-image: url("../img/hombrenaranja-min.jpg");
    background-size: cover;
    border-radius: 1em;
}
.contenedor__Imagen--Contacto{
    background-image: url("../img/contactanos-min.jpg");
    background-size: cover;
    border-radius: 1em;
}
.contenedor__cabecera{
    color: #f2f2f2;
    height: 250px;
}
.contenedor__cabecera2{
    color: #070000;
    height: 250px;
}

/* Carousel base class */

.espacio {
    margin-bottom: 2rem;
}
.espacioa{
    margin-top: 2rem;
}
  /* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 30rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 30rem;
}

/*index*/
/*categorias*/

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  /* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


.contenedor__tecnologia--fondo{
    width: 100%;
    height: 100px;
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}
.contenedor__juguetes--fondo{
    width: 100%;
    height: 100px;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}
.contenedor__deportes--fondo{
    width: 100%;
    height: 100px;
    background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
}
.contenedor__ropa--fondo{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}


/*tecno*/
.cartelerat{
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}
.carteleraj{
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}
.cartelerad{
    background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
}
.cartelerar{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.cartelera__productost{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.cartelera__productost--tamanos{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.productCartelera{
    border-radius: 1rem;
}
.productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.productos__item{
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #f2f2f2;
    width: 200px;
    border-radius: 1rem;
}
.productos__item--img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.productos__item--texto{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius:0.8rem;
}
.productos__item:hover >.productos__item--img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* contactanos*/
.buscardudas{
    height: 500px;
}
.footer__lista{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__lista--item li{
    text-decoration: none;
    color: saddlebrown;
}
.contenedor__Imagen--Pregunta{
    background-image: url("../img/pregunta-min.jpg");
    background-size: cover;
    border-radius: 1em;
}
.contenedor__Imagen--Enojado{
    background-image: url("../img/enojado-min.jpg");
    background-size: cover;
    border-radius: 1em;
}